* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  display: block;
}

.accordion_list {
  display: flex;
  gap: 10px;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-btn {
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 1rem;
  display: inline-block;
  /* Cambia il display da block a inline-block */
}

.accordion-btn:hover {
  background-color: #0d6dfd75;
}

.active-bg {
  background-color: #ffc107;
}